# Firebase service account credentials
PROJECT_ID=
CLIENT_EMAIL=
PRIVATE_KEY=

# Resend API key for sending emails (e.g., notifications)
RESEND_API_KEY=
# PostgreSQL connection string format: postgresql://[user[:password]@]host[:port][/dbname][?params]
DATABASE_URL=
# Set to true to disable secure connection to the database (useful for local development)
DISABLE_DATABASE_SECURE_CONNECTION=
# Admin email for sending notifications
ADMIN_EMAIL=
# development or production
NODE_ENV=
# API token string for secure API token generation and validation
API_TOKEN_STRING=
